<!DOCTYPE html>
<img src="/img/images.jpeg" alt="" />
{{#if mostraTitulo}}
<h1>{{toLower titulo}}</h1>
{{else}}
<div>Página Sem título</div>
{{/if}}
<ul>
  {{#each professores}}
</ul>
<li>
  <strong>{{ nome }}</strong
  >: sala {{ sala }}
</li>
{{/each}}

<i class="fas fa-ambulance"></i>

<i class="fab fa-android"></i>
